<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <header>
        <h2>My Website</h2>
    </header>

    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <h2>My Footer</h2>
    </footer>
</body>

</html>